/* GRID */
.side-big{
  height: 100vh;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.side-big:hover{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.side-small-1, .side-small-2{
  height: 50vh;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.side-small:hover, .side2-small:hover{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.side-xsmall{
  height: 200px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.side-xsmall:hover{
  height: 200px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* SECTION 1 + 2 + 3 */
#section1{
  height: 100vh;
  background-color: rgba(126, 255, 245,0.8);
  position: relative;
}

#section1::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/1-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section1:hover{
  background-color: rgba(126, 255, 245,0.6);
}

#section2{
  background-color: rgba(255, 250, 101,0.9);
}

#section2::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/2-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section2:hover{
  background-color: rgba(255, 250, 101,0.6);
}

#section3{
  background-color: rgba(50, 255, 126,0.9);
}

#section3::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/3-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section3:hover{
  background-color: rgba(50, 255, 126,0.6);
}

#section1-container{
  padding: 50px 0px 0px 50px;
}

#section1-container h1{
  font-size: 3.8em;
}

#section1-container h3{
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 70%;
  font-style: italic;
}

#section1 ul{
  list-style: none;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0px;
}

#section1 ul li{
  display: inline;
  padding: 5px;
}

#section1 ul li a img{
  height: 30px;
}

.section1-buttons a{
  display: block;
  color: #FFF;
  font-family: RobotoSlabLight;
  margin-top: 10px;
}

.section1-buttons img{
  height: 15px;
}

@media screen and (max-width: 650px){
  #section1-container{
    padding: 5px;
  }
  #section1-container h3{
    width: 100%;
    margin-top: 20px;
    font-size: 1.8em;
  }

  #section1 ul{
    margin-top: 20px;
  }
}

@media screen (min-width: 576px), (max-width: 1100px){
  #section1-container h3{
    width: 100%;
  }
}

/* SECTION 4 + 5 */
#section4{
  background-color: rgba(205, 132, 241,0.9);
}

#section4::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/4-min.jpg);
  background-size: cover;
  background-position: 0% 70%;
  z-index: -1;
}

#section4:hover{
  background-color: rgba(205, 132, 241,0.6);
}

#section5{
  background-color: rgba(255, 77, 77,0.9);
}

#section5::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/6-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section5:hover{
  background-color: rgba(255, 77, 77,0.7);
}

.signup{
  height: 500px;
}

#signup-container{
  padding: 50px;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#signup-container label, #signup-container button{
  color: #FFF;
  font-family: RobotoSlabLight;
}

#signup-container label{
  font-size: 1.2em;
  font-weight: 400;
}

#signup-container input{
  border-radius: 0;
  border: 3px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: bold;
  font-family: RobotoSlab;
}

#signup-container button{
  border-radius: 0;
  border: 3px solid #FFF;
  background-color: transparent;
  text-transform: lowercase;
}

.news{
  height: 500px;
}

@media screen and (max-width: 576px) {
  #signup-container{
    width: 100%;
  }

  #section5, #img5{
    height: 320px;
  }
}

/* SECTION 6 + 7 + 8 */
#section6{
  background-color: rgba(205, 132, 241,0.9);
  background-color: rgba(75, 75, 75,0.8);
}

#section6::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/5-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section6:hover{
  background-color: rgba(205, 132, 241,0.6);
  background-color: rgba(75, 75, 75,0.6);
}

#section7{
  background-color: rgba(246, 185, 59,0.8);
}

#section7::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/7-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section7:hover{
  background-color: rgba(246, 185, 59,0.7);
}

#section8{
  background-color: rgba(255, 204, 204,0.9);
}

#section8::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/8-min.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#section8:hover{
  background-color: rgba(255, 204, 204,0.7);
}

.weather{
  height: 400px;
}

.weather-content{
  padding: 50px;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.weather h2{
  margin-top: 0;
}

.weatherDay h4{
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  /* max-width: 125px; */
  text-align: center;
}

.weatherDay img{
  width: 100%;
  max-width: 125px;
  display: block;
  margin: auto;
}

.weatherDay p{
  color: #FFF;
  font-family: RobotoSlabLight;
  text-align: center;
  margin-top: 10px;
  font-size: 1.3em;
  width: 100%;
  /* max-width: 125px; */
  text-align: center;
}

#section7 a, #section8 a{
  font-size: 2em;
}
