/* NEWS */
/* LEFT */
.background-images{
  position: absolute;
  left: 0; top: 0; right: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-left-image{
  height: 100vh;
  background-image: url(../../img/8-min.jpg);
  background-position: center;
  background-size: cover;
}

.news-left{
  background-color: rgba(255, 77, 77,0.9);
  height: 100vh;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-left:hover{
  background-color: rgba(255, 77, 77,0.7);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-left p{
  cursor: default;
}

.news-left p:hover{
  text-decoration: none;
}

@media screen and (min-width: 1080px) {
  .news-left p{
    font-size: 5em;
    border: 6px solid #FFF;
  }
}

/* RIGHT */

.news-container h2{
  font-family: RobotoSlabLight;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.news-container .row{
  margin-bottom: 40px;
}

.news-image{
  width: 100%;
  height: 100px;
  background-color: lightgrey;
}

.news-post hr{
  margin: 5px 0px 5px 0px;;
}

.news-post h1{
  font-family: RobotoSlab;
  color: #000;
  font-size: 1em;
  /* text-align: center; */
  color:rgba(255, 77, 77,1);
  margin-top: 30px;
  text-transform: uppercase;
}

.news-post p{
  /* text-align: center; */
  font-family: RobotoSlab;
}

#news1{
  background-image: url(../../img/news/popcorn.jpg);
  background-size: cover;
}

#news2{
  background-image: url(../../img/news/luke.jpg);
  background-size: cover;
}

#news3{
  background-image: url(../../img/news/bridge.jpg);
  background-size: cover;
}

#news4{
  background-image: url(../../img/news/deadpool.jpg);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .news-left-image, .news-left{
    height: 30vh;
  }
}

@media screen and (min-width: 768px) {
  .news-right{
    overflow-y: scroll;
    min-height: 500px;
    max-height: 100vh;
  }
  .news-right::-webkit-scrollbar {
      display: none;
  }
}
